<%#= <h1>Home#index</#h1>
<p>Find me in app/views/home/index.html.erb</p> %>
<h1 align='center'> Welcome to Bid Bike </h1>
<%#= link_to 'List bike', bike_path %>
<a href="/bikes">Bid</a>
<br>
<br>

<a href="/bikes">View your bids</a>
<br>
<br>

<a href="/bikes/new">Place new Bid</a>
